<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SICK BEATS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>
	<body>

		<!-- Banner -->

			<section id="banner">

			</section>



		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Current weather at {{zipcode}}: {{weather}}</h2>
					</header>
					<iframe src="https://embed.spotify.com/?uri={{url}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">Cash me outside with sick beats</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
